@import "~bulma/bulma.sass";

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
}

.buscar {
    padding: 15px
}

.results {
    margin-top: 20px
}

.move-enter-active, .move-leave-active {
    transform: translateX(0);
    transition: all 0.3s linear;
}
  
.move-enter, .move-leave-to {
    transform: translateX(100%);
}
