@import "~bulma/bulma.sass";
@import './scss/progress-bar.scss';

html,body {
    font-family: 'Quicksand', sans-serif;
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.contenido {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('https://roque363.github.io/novel-music/src/assets/img/contenido.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.buscar { padding: 15px }

.card.radius, img {
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    border-radius: 5px;
}

.title.no-padding {
    margin-bottom: 0 !important;
}

.move-enter-active, .move-leave-active {
    transform: translateX(0);
    transition: all 0.3s linear;
}
  
.move-enter, .move-leave-to {
    transform: translateX(100%);
}

.footer { background-color: #fafafa;}

.subtitle, p, strong, .footer p { color: #262636; }

.footer a:hover { color: crimson; }
